# -------------------
# Python General
# -------------------
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.pdb
*.so
*.egg-info/
.env/
.venv/
venv/

# -------------------
# Flask Development (Local only)
# -------------------
.flaskenv

# -------------------
# Environment Config
# -------------------
.env

# -------------------
# OS Specific
# -------------------
.DS_Store
Thumbs.db

# -------------------
# NPM Specific
# -------------------
node_modules
instance/